.optionList {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  max-width: 320px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
}

.placeholder {
  position: relative;
  overflow: hidden;
  color: var(--gray-500);
  width: 320px;
  padding: 12px 16px 12px 16px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  font-size: 16px;
  text-align: left;

  > i {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 40%);
  }
}

.placeholder.focus {
  border: 2px solid var(--gray-500);
  color: var(--gray-900);
}

.placeholder:hover:not(.focus) {
  border: 1px solid var(--gray-500);
}

.select {
  max-width: 320px;
}

.eachOption {
  padding: 12px 16px 12px 16px;
  border: none;
  font-size: 16px;
  text-align: left;
  background: rgba(255, 255, 255, 0);
}

.option {
  color: var(--gray-900);
  > button {
    width: 100%;
  }
}

.option:hover {
  background: var(--gray-100);
}
