.container {
  display: flex;
  margin: 10px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 15px;

  min-width: 275px;
  min-height: 260px;
  width: 100%;
  padding: 30px 24px 20px 24px;
  border-radius: 16px;

  position: relative;
}

.reactions {
  display: flex;
  gap: 6px;
  border-top: 1px solid;
  padding-top: 15px;

  position: absolute;
  bottom: 20px;
}

.green {
  background-color: #d0f5c3;
}

.beige {
  background-color: #ffe2ad;
}

.purple {
  background-color: #ecd9ff;
}

.blue {
  background-color: #b1e4ff;
}
