:root {
  --font-size28: 28px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size18: 18px;
  --font-size16: 16px;
  --font-size15: 15px;
  --font-size14: 14px;
  --font-size12: 12px;
  --font-family-Regular: "Pretendard-Regular";
  --font-family-Bold: "Pretendard-Bold";
}

body {
  font-family: "Pretendard";
}

@font-face {
  font-family: "Pretendard-Bold";
  src:
    url("subset-Pretendard-Bold.woff2") format("woff2"),
    url("subset-Pretendard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src:
    url("subset-Pretendard-Regular.woff2") format("woff2"),
    url("subset-Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 신디나루  */
@font-face {
  font-family: "신디나루";
  src:
    url("subset-KoreaSDNR-B.woff2") format("woff2"),
    url("subset-KoreaSDNR-B.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "신디나루";
  src:
    url("subset-KoreaSDNR-M.woff2") format("woff2"),
    url("subset-KoreaSDNR-M.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 개구 */
@font-face {
  font-family: "Gaegu";
  src:
    url("subset-Gaegu-Bold.woff2") format("woff2"),
    url("subset-Gaegu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gaegu";
  src:
    url("subset-Gaegu-Regular.woff2") format("woff2"),
    url("subset-Gaegu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gaegu";
  src:
    url("subset-Gaegu-Light.woff2") format("woff2"),
    url("subset-Gaegu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 나눔명조 */
@font-face {
  font-family: "나눔명조";
  src:
    url("subset-NanumMyeongjoBold.woff2") format("woff2"),
    url("subset-NanumMyeongjoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "나눔명조";
  src:
    url("subset-NanumMyeongjo.woff2") format("woff2"),
    url("subset-NanumMyeongjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
