:root {
  --font-size28: 28px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size18: 18px;
  --font-size16: 16px;
  --font-size15: 15px;
  --font-size14: 14px;
  --font-size12: 12px;
  --font-family-Regular: "Pretendard-Regular";
  --font-family-Bold: "Pretendard-Bold";
}

body {
  font-family: "Pretendard";
}

@font-face {
  font-family: "Pretendard-Bold";
  src:
    url("subset-Pretendard-Bold.woff2") format("woff2"),
    url("subset-Pretendard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src:
    url("subset-Pretendard-Regular.woff2") format("woff2"),
    url("subset-Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 나눔명조 */
@font-face {
  font-family: "나눔명조";
  src:
    url("subset-NanumMyeongjoBold.woff2") format("woff2"),
    url("subset-NanumMyeongjoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "나눔명조";
  src:
    url("subset-NanumMyeongjo.woff2") format("woff2"),
    url("subset-NanumMyeongjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  나눔손글씨 손편지체 */

@font-face {
  font-family: "Nanum Pen";
  src:
    url("subset-NanumPen.woff2") format("woff2"),
    url("subset-NanumPen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  Noto Sans  */

@font-face {
  font-family: "Noto Sans";
  src:
    url("subset-NotoSansKR-Regular.woff2") format("woff2"),
    url("subset-NotoSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("subset-NotoSansKR-Medium.woff2") format("woff2"),
    url("subset-NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("subset-NotoSansKR-Bold.woff2") format("woff2"),
    url("subset-NotoSansKR-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*  폰트 스타일  */

.fontStyle__NotoSans {
  font-family: "Noto Sans";
  & p {
    font-family: "Noto Sans";
  }
}

.fontStyle__Pretendard {
  font-family: "Pretendard";
  & p {
    font-family: "Pretendard";
  }
}

.fontStyle__NanumMyungjo {
  font-family: "나눔명조";
  & p {
    font-family: "나눔명조";
  }
}

.fontStyle__NanumPen {
  font-family: "Nanum Pen";
  & p {
    font-family: "Nanum Pen";
  }
}
