.container {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 24px;

  > a {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }

  > a > button {
    min-width: 240px;
  }
}

.wrapper {
  margin-top: 50px;

  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.button {
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .container {
    margin: 0px auto;
    width: 100%;
    padding: 0px 24px;

    > a,
    button {
      width: 100%;
    }
  }
}

@media screen (min-width: 1279px) and (max-width: 768px) {
  .container {
    margin: 0px auto;
    width: 100%;
    padding: 0px 24px;

    > a,
    button {
      width: 100%;
    }
  }
}

@media screen (min-width: 768px) and (max-width: 360px) {
  .container {
    margin: 0px auto;
    width: 100%;
    padding: 0px 20px;

    > a,
    button {
      width: 100%;
    }
  }
}
