.home-logo {
  margin-left: 360px;
}

.post-main {
  max-width: 720px;
  margin: 57px auto;

  & input {
    border: 1px solid var(--gray-300);
  }
}

.explanation-to {
  color: var(--gray-900);
  font-size: var(--font-size24);
  font-family: var(--font-family-Bold);
  height: 42px;
}

.explanation-screen {
  color: var(--gray-900);
  font-size: var(--font-size24);
  font-family: var(--font-family-Bold);
  height: 36px;
  width: 301px;
}

.explanation-little {
  margin-top: 4px;
  font-size: var(--font-size16);
  color: var(--gray-500);
  width: 400px;
}

.select-buttons button {
  background-color: var(--gray-100);
  margin: 24px 0 45px;
}

.post-create Button {
  width: 100%;
  margin-top: 45px;
}

.option-container {
  display: flex;
}

@media screen and (max-width: 1279px) {
  .post-main {
    margin-top: 49px;
  }

  .post-create Button {
    margin-top: 316px;
  }
}

@media screen and (max-width: 767px) {
  .post-main {
    padding: 20px;
  }

  .select-buttons {
    margin-bottom: 28px;
    width: 378px;
  }

  .post-create Button {
    margin-top: 58px;
  }
}

@media screen and (max-width: 378px) {
  .option-container {
    width: 378px;
  }
}
