.arrow-button {
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-300);
  opacity: 0px;
  box-shadow: 0px 4px 8px 0px #00000014;
  border-radius: 50%;
}
.arrow-button i {
  background-size: 70% !important;
  background-position: 10px;
}
