.btn-circle-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background-color: #555555;

  &:disabled {
    background-color: #cccccc;
  }

  &:active :not(:disabled) {
    background-color: #4a4a4a;
  }

  &:hover:not(:disabled) {
    background-color: #3a3a3a;
  }

  &:focus:not(:disabled) {
    border: 1px solid #2b2b2b;
    background-color: #3a3a3a;
  }
}
