.container {
  width: 275px;
  height: 260px;
  padding: 30px 24px 20px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.name {
  font-family: var(--font-family-Bold);
  font-size: 24px;
}

.purple {
  background-color: #ecd9ff;
}

.yellow {
  background-color: #ffe2ad;
}

.blue {
  background-color: #b1e4ff;
}

.green {
  background-color: #d0f5c3;
}

.layer {
  width: 336px;
  height: 169px;
  position: absolute;

  bottom: -20px;
  right: -170px;

  z-index: 1;
}


.emojis {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  padding: 15px;
  border-top: 1px solid 
}