.headerInner {
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
  }

  > h2 {
    font-family: var(--font-family-Bold);
    font-size: var(--font-size28);
    color: var(--gray-800);
  }
}

.contents {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .contributorsInfo {
    display: flex;
    align-items: center;

    > div:first-of-type {
      transform: translateX(25%);
    }
  }

  @media (max-width: 768px) {
    i {
      width: 20px;
      height: 20px;
    }
  }
}

.emojiSection {
  display: flex;

  .topEmoji {
    display: flex;
    align-items: center;

    > span {
      margin-right: 8px;
    }

    > span:last-of-type {
      margin-right: 0;
    }

    > button {
      margin: 0 8px;
      background-color: transparent;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      > span {
        height: 36px;
        padding: 8px 12px;
        font-size: 16px;
      }
    }
  }
}

.shareSection {
  position: relative;

  > button {
    width: 56px;
  }

  .dropdownList {
    position: absolute;
    top: 56px;
    right: 0;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

    > button {
      width: 130px;
      height: 50px;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);

      &:hover {
        background-color: var(--gray-100);
      }
    }

    > button:first-of-type {
      border-radius: 8px 8px 0 0;
    }

    > button:last-or-type {
      border-radius: 0 0 8px 8px;
      border-bottom: none;
    }
  }
}

.line {
  height: 27px;
  margin: 0 13px;
  border-left: 1px solid var(--gray-200);
}
